* {
    margin: 0;
    padding: 0;
}

body, html {
    background-color: #c3ffc1;
    margin: 0;
    padding: 0;
    height: 100dvh;
    font-family: "Arimo";
}


.navbar,
header,
footer 

{
background-color: #fff8f8;
}


.container {
    
    
}